* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: MyFont;
  src: url(./HFF\ Fire\ Dancer.ttf);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

main {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin-left: 70px;
  margin-top: 50px;
  font-size: 2.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
}

h1,
h2 {
  font-family: MyFont;
  background: -webkit-linear-gradient(orange, yellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
}

.leaderboard-app {
  display: flex;
  justify-content: space-around;
  margin: 80px auto;
}

.score-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.recent-score {
  animation-name: moveInRight2;
  animation-duration: 1s;
}

form {
  display: flex;
  flex-direction: column;
}

.refresh,
.submit {
  color: black;
  margin-left: 20px;
  padding: 5px 10px;
  background: -webkit-linear-gradient(orange, yellow, green);
  border: 2px solid orange;
  box-shadow: 3px 2px 2px green;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 8px;
}

.refresh {
  padding-left: 30px;
  padding-right: 30px;
}

.submit {
  width: 50%;
  align-self: flex-end;
  padding: 10px 0;
}

.input {
  padding: 5px;
}

.refresh:hover,
.submit:hover {
  color: green;
  border: 2px solid #008000;
  background-color: rgb(0, 2, 5);
  transition: all 0.4s ease-in-out;
}

.refresh:active,
.submit:active {
  box-shadow: none;
}

.add-score-header {
  animation-name: moveInTop;
  animation-duration: 1s;
  margin-bottom: 30px;
  border: none;
}

.add-name,
.add-score {
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 0.9em;
  border-radius: 8px;
}

.add-name:focus,
.add-score:focus {
  outline-width: 0;
}

.score-ul {
  max-height: 47vh;
  overflow-y: scroll;
  border: 2px solid rgb(36, 35, 35);
  background-color: gainsboro;
}

.score-li {
  list-style-type: none;
  padding: 5px 20px;
  font-size: 0.8em;
}

.score-ul li:nth-child(even) {
  background: rgb(131, 122, 122);
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 100%;
    transform: translateX(100px);
  }
}

@keyframes moveInRight2 {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}